:root {
  --card-width: 500px;
  --card-height: 300px;
  --photo-width: 200px;
  --photo-height: 200px;
}

body {
  margin:0;
}

#page_content{
  margin: 10px;
  max-width:1024px;
  margin-left: auto;
  margin-right: auto;
}
#barcode {
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  font-family: sans-serif;
  font-size: 12pt;
}

.CardContainer {
  position: relative;
  top: 0;
  left: 0;
  width: var(--card-width);
  height: var(--card-height);
  margin-left: auto;
  margin-right: auto;
}
.card {
  position: relative;
  top: 0;
  left: 0;
  height: var(--card-height);
  width: var(--card-width);
  border: 1px solid #000000;
  border-radius: 20px;
}
.center{
  margin-left: auto;
  margin-right: auto;
}
.NameLoc {
  position: absolute;
  top: 95px;
  left: 16px;
}
#cardname {
  font-size: 20px;
  font-weight: 700;
}
.photo {
  position: absolute;
  top: 90px;
  right: 20px;
  max-width: 150px;
  height: 200px;
  border: 1px solid #000000;
}
.MemberNo {
  position: absolute;
  top: 120px;
  left: 16px;
}
.Expiry {
  position: absolute;
  bottom: 80px;
  right: 230px;
  vertical-align: bottom;
}

.externalbox {
  position: absolute;
  bottom: 10px;
  left: 140px;
}
#inputdata {
  left: -50%;
  position: relative;
}
.overlay {
  position: absolute;
  top: 65px;
  left: 50px;
  width: 200px;
  height: 200px;
  border: 0px solid #000000;
}
.rightAligned {
  text-align: right;
  margin: 0;
}

/*Inserting here for image preview*/

.avatar-upload {
  position: absolute;
  bottom: 10px;
  right: 20px;
  max-width: var(--photo-width);
  height: var(--photo-height);
}
.avatar-upload .avatar-edit {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: -15px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 200px;
  position: relative;
  /* border-radius: 100%; */
  /* border: 6px solid #F8F8F8; */
  /* box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1); */
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* fieldset>legend{
  color: transparent;
  height: 0px;
  font-size: 0px;
} */

/* Remember this

.photo {
  position: absolute;
  top: 90px;
  right: 20px;
  max-width: 150px;
  height: 200px;
  border: 1px solid #000000;
}
*/
