{% extends 'accounts/base.html' %}

{% block title %}: Enrollment{% endblock %}

{% block head %}
	{% load static %}
	<script type="text/javascript" src="{% static 'members_card/js/barcode.js' %}"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
{% endblock %}

{% block content %}
<div id="form_container">
	{% load static %}
	<h1>Request a new Universally University ID Card</h1>
	<form id="ESP-4 View Card" class="top_label" method="post" data-highlightcolor="#ececec" action="">
		{% csrf_token %}
		<div class="form_description">
			<p>This form is for members who are enrolled and wish to see what a new identity card would look
				like before applying for a new member ID card.</p>
			</div>
			
			<label class="description" for="txtMemberNo">Member number <span id="required_4" aria-hidden="true"
				class="required">*</span></label>
				<div>
					<input id="txtMemberNo" name="txtMemberNo" type="number" maxlength="7" value="{{ user.id }}" onload="limit_input();" onkeyup="limit_input();">
					<span id="range" class="label">Must be <var id="range">7</var> digits.&nbsp;&nbsp; <em
						class="currently_entered">Currently Entered: <span id="counterHolder">0</span>
						digits.</em></span>
					</div>
					<br />
					<fieldset>
						<legend>Details</legend>
						<span class="simple_name_1">
							<label for="txtFName">First Name</label>
							<input id="txtFName" name="TxtFName" type="text" class="element text" maxlength="255" size="8" value=""
							disabled>
						</span>
						<span class="simple_name_2">
							<label for="txtLName">Last Name</label>
							<input id="txtLName" name="txtLName" type="text" class="element text" maxlength="255" size="14" value=""
							disabled>
						</span>
					</fieldset>
				</li>
			</ul>
		</form>
	</div>
	<br />
	<div class="CardContainer">
		<img class="card" src="{% static 'members_card/images/card.png' %}" />
		<div class="avatar-upload">
			<div class="avatar-edit">
				<input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
				<label for="imageUpload"></label>
			</div>
			<div class="avatar-preview">
				<div id="imagePreview" style="">
			</div>
		</div>
	</div>
	<div class="MemberNo"><span id="cardmember"></span></div>
	<div class="NameLoc"><span id="cardname"></span></div>
	<div class="DOBLoc"><span id="dob"></span></div>
	<div class="Expiry"><span id="cardex"></span></div>
	<div class="externalbox" id="externalbox">
		<div id="inputdata"></div>
	</div>
	<img class="overlay" id="overlay" src="{% static 'members_card/images/Blank.png' %}" />
</div>
<br />
<button onClick="saveSelection();" class="center">
	Request a new ID card
</button>
</div>
</div>
<script type="text/javascript" src="{% static 'members_card/js/members_card.js' %}"></script>
{% endblock %}